<div class="links scroll">
        <a href="{{site.baseurl}}/">About</a>
        <a href="{{site.baseurl}}/activities/">Activities</a>
        <a href="{{site.baseurl}}/projects/">Projects</a>
        <a href="{{site.baseurl}}/publications/">Publications</a>
        <a href="{{site.baseurl}}/workexperience/">Work Experience</a>
        <a href="{{site.baseurl}}/talks/">Talks</a>
        <a href="{{site.baseurl}}/education/">Education</a>
        <a href="https://www.linkedin.com/in/dian-lun-lin-0ba721117/recent-activity/all/">News</a>
</div>
<br>
